@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles here */

/* Write your own custom base styles here */
.sidebar {
  height: calc(100vh - 58px);
  width: 15%;
}

@media screen and (max-width: 786px) {
  .sidebar {
    width: 125%;
  }
}

#testsvg {
  transition: all 0.5s linear;
  transform-origin: 50% 50%;
}

/* neon mode */
.fix-focus-neon + p {
  background-color: cyan;
  transition: width 0.4s linear;
}

.fix-focus-neon:focus-visible {
  outline: none;
}

.fix-focus-neon:focus-visible + p {
  width: 100%;
}
/* light mode */
.fix-focus-light + p {
  background-color: crimson;
  transition: width 0.4s linear;
}

.fix-focus-light:focus-visible {
  outline: none;
}

.fix-focus-light:focus-visible + p {
  width: 100%;
}

/* dark mode */
.fix-focus-dark + p {
  background-color: purple;
  transition: width 0.4s linear;
}

.fix-focus-dark:focus-visible {
  outline: none;
}

.fix-focus-dark:focus-visible + p {
  width: 100%;
}
.w-clamp {
  width: clamp(350px, 22%, 20vw);
}

.hidden-left {
  opacity: 0.1;
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0.1;
  transform: translateX(200%);
}

.slide-in {
  /* left: 0; */
  opacity: 1;
  transform: translateX(0%);
}
.style-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.style-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.style-scroll::-webkit-scrollbar-thumb {
  background-color: #e19090;
  border-radius: 3px;
}

.w-null {
  width: 0% !important;
}

.width-transition {
  transition: width 0.1s ease-in-out;
}

.img-anim {
  display: unset !important;
  opacity: 1 !important;
  transform: scale(1) !important;
  display: flex !important;
}

.no-decor {
  text-decoration: none !important;
}
.text-blue {
  color: #004ad4 !important;
}
.md-render-parent > h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  padding: 8px;
}
.md-render-parent > h2 {
  font-weight: 600;
  margin: 12px 0;
  font-size: xx-large;
  transition: all 0.4s ease-out;
  color: #36a3ff;
}

.md-render-parent > ul > li,
ol > li {
  list-style-type: circle;
  cursor: pointer;
  color: #36a3ff;
  font-weight: 600;
  margin-left: 14px;
  padding: 4px;
  transition: all 0.25s ease-out;
}
.md-render-parent > ul > li:hover,
ol > li:hover {
  text-decoration: underline;
}
.md-render-parent > p > a {
  font-weight: 600;
  color: #01379b;
}
.md-render-parent > p {
  font-size: large;
  line-height: 1.8em;
  padding: 8px 0;
  letter-spacing: 0.024em;
}

.md-render-parent > blockquote {
  padding: 12px;
  background-color: transparent;
  font-weight: 600;
  color: #4b96ff;
  /* opacity: 0.1; */
  font-size: 1em;
  margin: 16px 0;
  border-left: 4px solid #4b96ff;
  position: relative;
}

.md-render-parent > blockquote::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-color: #4b96ff;
}

.md-render-parent > blockquote.bq-warn {
  color: #bb9b0a;
  border-left: 4px solid #ffde4b;
}

.md-render-parent > blockquote.bq-warn::after {
  opacity: 0.2;
  background-color: #ffde4b;
}

.md-render-parent > blockquote.bq-err {
  color: #bb160a;
  border-left: 4px solid #bb160a;
}

.md-render-parent > blockquote.bq-err::after {
  opacity: 0.1;
  background-color: #bb160a;
}

p > code {
  font-size: small;
  padding: 1px;
  background-color: rgb(190, 185, 185);
  /* color: #fff; */
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
