@tailwind base;

/* Write your own custom base styles here */
.sidebar {
  /* position: absolute; */
  /* left: 0;
  top: 48px; */
  min-height: calc(99vh - 50px);
  width: 15%;
}

#testsvg {
  transition: all 0.5s linear;
  transform-origin: 50% 50%;
}

.fix-focus + p {
  background-color: cyan;
  transition: width 0.4s linear;
}

.fix-focus:focus-visible {
  outline: none;
}

.fix-focus:focus-visible + p {
  width: 100%;
}

.w-clamp {
  width: clamp(350px, 22%, 20vw);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
